body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

/* Main section styles */
.my_main {
	margin: 0 auto;
	width: 70%;
	padding: 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
}

.profile-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-info {
	width: 90%;
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 50px;
	border: 1px solid #ddd;
	background-color: #ffffff;
	flex-wrap: wrap;
}

.profile-picture-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
}

.profile-picture {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 10px;
}

.profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
	display: block;
}

.profile-button {
	display: inline-block;
	margin-top: 10px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	color: #555;
	cursor: pointer;
	border-radius: 5px;
}

.profile-details {
	flex-grow: 1;
}

.profile-details p {
	margin: 5px 0;
}

.profile-details button {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	background-color: #f5f5f5;
	color: #555;
	cursor: pointer;
	border-radius: 5px;
}

.profile-intro {
	width: 90%;
	margin-bottom: 20px;
}

.profile-intro textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	resize: none;
	margin-top: 15px;
}

.action-buttons {
	display: flex;
	justify-content: end; /* Center align buttons */
	gap: 10px;
	margin-top: 20px;
}

.action-buttons button {
	padding: 10px 20px;
	border: 1px solid #ddd;
	background-color: #28a745;
	color: white;
	cursor: pointer;
	border-radius: 5px;
}

.action-buttons button#withdrawButton {
	background-color: #dc3545;
}

.my_main h2 {
	width: 90%;
	font-size: 24px;
	color: #333;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}

.buttons {
	justify-content: center;
}